.chewy-font
    font-family: chewy

body 
    background-color: #4A148C
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif

button
    padding: .375rem .75rem

.btn-outline-secondary 
    border-radius: 1rem !important;
    background-color: #4A148C !important;
    border-color: #4A148C !important;
    color: white !important;
    &:hover
        background-color: #e9ecef !important;
        border-color: black !important;
        color: #4A148C !important;

.container 
    margin-left: auto
    margin-right: auto

.divider
    margin: 5rem;
    opacity: 0.5

.navNotActive
    color: #4A148C !important;


.navActive 
    color: white !important;
    background-color: #4A148C !important;
  
.purpleBackground
    background-color: #4A148C
    color: white